
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

    <div class="well well-lg">
        <div class="checkbox">
            <label><input type="checkbox"> One-Way</label>
        </div>
        <form class="form-inline">
            <div class="form-group">
                <label for="departure">Departure:</label><br />
                <input type="text" class="form-control" id="departure" placeholder="From">
            </div>
            <div class="form-group">
                <label for="destination">Destination:</label><br />
                <input type="text" class="form-control" id="destination" placeholder="To">
            </div>
            <br /><br />
            <div class="form-group">
                <label for="departuretime">Departure:</label><br />
                <input type="date" class="departuretime" id="datetime" />
            </div>   
            <div class="form-group">
                <label for="arrivaltime">Departure:</label><br />
                <input type="date" class="arrivaltime" id="datetime" />
            </div>
            <br /><br />
            <div class="form-group">
                <label for="selectnumber">Number of passangers:</label><br />
                <select class="selectnumber" id="selectnumber">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>
            </div>

                <br /><br />
                <button type="submit" class="btn btn-default">Search flights</button>


</form>

</div>
<p>This is some text.</p>
<p>This is another text.</p><br />
 
