body {
    padding-top: 50px;
    padding-bottom: 220px;
    float: inherit;
  

   
}


form-control {
    float: left;
}

.navbar-inverse {
    background-color: #000000 !important;
}


td {
    padding-bottom: 40px;
}

input,
select,
textarea {
    max-width: 280px;
}
