@{
    ViewBag.Title = "ListEmployee";
}

<h2>ListEmployee</h2>

<p>
    @Html.ActionLink("Ny ansatt", "Register", "Admin", new { @class = "btn btn-primary" })
    <input type="button" value="Alle ansatte" class="btn btn-default" id="allEmployee" />
    <input type="text" placeholder="Brukernavn" id="searchEmployeeText" />
    <input type="button" value="Søk" class="btn btn-primary" id="searchEmployee" />
</p>

<div id="partialListEmployee"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#allEmployee").click(function () {
            $.ajax({
                    url: "/Admin/ListAllEmployees",
                    success: function (result) {
                        $("#partialListEmployee").html(result);
                    },
                    error: function () {
                        $("#partialListEmployee").html("");
                    }
                });
        });

        $("#searchEmployee").click(function () {
            $.ajax({
                url: "/Admin/SearchEmployee",
                data: { uname: $("#searchEmployeeText").val() },
                success: function (result) {
                    if (result == "") {
                        $("#partialListEmployee").html("<h3>Ingen treff!</h3>");
                    } else {
                        $("#partialListEmployee").html(result);
                    }
                },
                error: function () {
                    $("#partialListEmployee").html("");
                }
            });
        });
    });
</script>



