
@{
    ViewBag.Title = "ListFlight";
}
@if (ViewBag.FlightInsert != null)
{
    <div>
        @if (ViewBag.FlightInsert)
        {
            <p class="alert alert-success">Ny flyrute lagt til!</p>
        }
    </div>
}
@if (ViewBag.FlightEdit != null)
{
    <div>
        @if (ViewBag.FlightEdit)
        {
            <p class="alert alert-success">Flyrute endret!</p>
        }
    </div>
}
<h2>ListFlight</h2>
@Html.ActionLink("Ny flyrute", "NewFlight", "Admin", new { @class = "btn btn-primary" })
<input type="button" value="Alle flyruter" class="btn btn-default" id="allFlights" />
<input type="text" placeholder="Flyrute-ID" id="searchFlightsText" />
<input type="button" value="Søk" class="btn btn-primary" id="searchFlights" />
<div id="partialListFlight"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#allFlights").click(function () {
            $.ajax({
                    url: "/Admin/ListAllFlights",
                    success: function (result) {
                        $("#partialListFlight").html(result);
                    },
                    error: function () {
                        $("#partialListFlight").html("");
                    }
                });
        });

        $("#searchFlights").click(function () {
            $.ajax({
                url: "/Admin/SearchFlights",
                data: { id: $("#searchFlightsText").val()},
                success: function (result) {
                    if (result == "") {
                        $("#partialListFlight").html("<h3>Ingen treff!</h3>");
                    } else {
                        $("#partialListFlight").html(result);
                    }
                    },
                error: function () {
                        $("#partialListFlight").html("");
                    }
                });
        });
    });
    </script>