@{
    ViewBag.Title = "Ansatte";
}
<a href="@Url.Action("MainPage", "Admin", new { area="" })" class="btn btn-default" title="Hjem">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:15px"></span>
    Tilbake
</a>
<br />
@if (ViewBag.NewEmployee != null)
{
    <br />
    <div>
        @if (ViewBag.NewEmployee)
        {
            <p class="alert alert-success">Ny ansatt lagt til!</p>
        }
    </div>
    <br />
}
<div style="text-align:right;width:100%">
    <input type="button" value="Alle ansatte" class="btn btn-default" id="allEmployee" />
    @Html.ActionLink("Ny ansatt", "Register", "Admin", new { @class = "btn btn-primary" })
</div>
<h2>Ansatte</h2>
<br />
<input type="text" placeholder="Brukernavn" id="searchEmployeeText" />
<input type="button" value="Søk" class="btn btn-primary" id="searchEmployee" />
<br /><br />

<div id="partialListEmployee"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#allEmployee").click(function () {
            $.ajax({
                    url: "/Admin/ListAllEmployees",
                    success: function (result) {
                        $("#partialListEmployee").html(result);
                    },
                    error: function () {
                        $("#partialListEmployee").html("");
                    }
                });
        });

        $("#searchEmployee").click(function () {
            $.ajax({
                url: "/Admin/SearchEmployee",
                data: { uname: $("#searchEmployeeText").val() },
                success: function (result) {
                    if (result == "") {
                        $("#partialListEmployee").html("<h3>Ingen treff!</h3>");
                    } else {
                        $("#partialListEmployee").html(result);
                    }
                },
                error: function () {
                    $("#partialListEmployee").html("");
                }
            });
        });
    });
</script>



