
@{
    ViewBag.Title = "ListCustomer";
}

<h2>ListCustomer</h2>
<input type="button" value="Alle kontaktpersoner" class="btn btn-default" id="allContact" />
<input type="text" placeholder="Kunde-ID" id="searchCustomerText" />
<input type="button" value="Søk" class="btn btn-primary" id="searchCustomer" />

<div id="partialListCustomer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#allContact").click(function () {
            $.ajax({
                    url: "/Admin/ListContactPersons",
                    success: function (result) {
                        $("#partialListCustomer").html(result);
                    },
                    error: function () {
                        $("#partialListCustomer").html("");
                    }
                });
        });

        $("#searchCustomer").click(function () {
            $.ajax({
                url: "/Admin/SearchCustomers",
                data: { id: $("#searchCustomerText").val() },
                success: function (result) {
                    if (result == "") {
                        $("#partialListCustomer").html("<h3>Ingen treff!</h3>");
                    } else {
                        $("#partialListCustomer").html(result);
                    }
                },
                error: function () {
                    $("#partialListCustomer").html("");
                }
            });
        });
    });
</script>


