
@{
    ViewBag.Title = "ListFlight";
}
@if (ViewBag.FlightInsert != null)
{
    <div>
        @if (ViewBag.FlightInsert)
        {
            <p class="alert alert-success">Ny flyrute lagt til!</p>
        }
    </div>
}
@if (ViewBag.FlightEdit != null)
{
    <div>
        @if (ViewBag.FlightEdit)
        {
            <p class="alert alert-success">Flyrute endret!</p>
        }
    </div>
}
<h2>ListFlight</h2>
@Html.ActionLink("Ny flyrute", "NewFlight", "Admin", new { @class = "btn btn-primary" })
<input type="button" value="Alle flyvninger" class="btn btn-default" id="allFlights" />

<div id="partialListFlight"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#allFlights").click(function () {
            $.ajax({
                    url: "/Admin/ListAllFlights",
                    success: function (result) {
                        $("#partialListFlight").html(result);
                    }
                });
        });
        @*
 $("form").submit(function () {
            if (!$("#roundtripbox").is(":checked")) $("#returnfield").val("-1");
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        $("#partialview").html(result);
                    }
                });
            }
            return false;
        });*@
    });
    </script>