
@{
    ViewBag.Title = "Flyruter";
}
@if (ViewBag.FlightInsert != null)
{
    <div>
        @if (ViewBag.FlightInsert)
        {
            <p class="alert alert-success">Ny flyrute lagt til!</p>
        }
    </div>
}
@if (ViewBag.FlightEdit != null)
{
    <div>
        @if (ViewBag.FlightEdit)
        {
            <p class="alert alert-success">Flyrute endret!</p>
        }
    </div>
}

<h2>Flyruter</h2>
<div style="text-align: right; width: 100% ">
    <button type="button" class="btn btn-default" id="allFlights" title="Alle flyruter">
        Alle flyruter
        <span class="glyphicon glyphicon-th-list" aria-hidden="true" style="font-size:15px"></span>
    </button>
    <a href="@Url.Action("NewFlight", "Admin")" class="btn btn-primary" title="Ny flyrute">
        Ny flyrute
        <span class="glyphicon glyphicon-globe" aria-hidden="true" style="font-size:15px"></span>
    </a>
</div>
<div>
@{Html.RenderPartial("_SearchFlight");}
</div>
<br />
<div id="partialListFlight">
    @{ Html.RenderAction("SearchFlights","Admin");}
</div>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
<script type="text/javascript">
    $(document).ready(function () {
        $("#allFlights").click(function () {
            $.ajax({
                    url: "/Admin/ListAllFlights",
                    success: function (result) {
                        $("#partialListFlight").html(result);
                    },
                    error: function () {
                        $("#partialListFlight").html("");
                    }
                });
        });

        $(function () {
            $("#Date").datetimepicker({
                viewMode: "days",
                format: "DD/MM/YYYY"
            });
        });
    });
    </script>