
@{
    ViewBag.Title = "ListFlight";
}
@if (ViewBag.FlightInsert != null)
{
    <div>
        @if (ViewBag.FlightInsert)
        {
            <p class="alert alert-success">Ny flyrute lagt til!</p>
        }
    </div>
}
@if (ViewBag.FlightEdit != null)
{
    <div>
        @if (ViewBag.FlightEdit)
        {
            <p class="alert alert-success">Flyrute endret!</p>
        }
    </div>
}
<h2>ListFlight</h2>
@Html.ActionLink("Ny flyrute", "NewFlight", "Admin", new { @class = "btn btn-primary" })
<input type="button" value="Alle flyruter" class="btn btn-default" id="allFlights" />

<div>
@{Html.RenderPartial("_SearchFlight");}
</div>
<div id="partialListFlight">
    @{ Html.RenderAction("SearchFlights","Admin");}
</div>
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/themes/base/css")
<script type="text/javascript">
    $(document).ready(function () {
        $("#allFlights").click(function () {
            $.ajax({
                    url: "/Admin/ListAllFlights",
                    success: function (result) {
                        $("#partialListFlight").html(result);
                    },
                    error: function () {
                        $("#partialListFlight").html("");
                    }
                });
        });

        $(function () {
            $("#Date").datetimepicker({
                viewMode: "days",
                format: "DD/MM/YYYY"
            });
        });
    });
    </script>