
@{
    ViewBag.Title = "Reisende";
}
<a href="@Url.Action("MainPage", "Admin", new { area="" })" class="btn btn-default" title="Hjem">
    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true" style="font-size:15px"></span>
    Tilbake
</a>
<br />
<div style="text-align:right;width:100%">
    <input type="button" value="Alle kontaktpersoner" class="btn btn-default" id="allContact" />
</div>
<h2>Reisende</h2>
<br />
<input type="text" placeholder="Kunde-ID" id="searchCustomerText" />
<input type="button" value="Søk" class="btn btn-primary" id="searchCustomer" />

<div id="partialListCustomer"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#allContact").click(function () {
            $.ajax({
                    url: "/Admin/ListContactPersons",
                    success: function (result) {
                        $("#partialListCustomer").html(result);
                    },
                    error: function () {
                        $("#partialListCustomer").html("");
                    }
                });
        });

        $("#searchCustomer").click(function () {
            $.ajax({
                url: "/Admin/SearchCustomers",
                data: { id: $("#searchCustomerText").val() },
                success: function (result) {
                    if (result == "") {
                        $("#partialListCustomer").html("<h3>Ingen treff!</h3>");
                    } else {
                        $("#partialListCustomer").html(result);
                    }
                },
                error: function () {
                    $("#partialListCustomer").html("");
                }
            });
        });
    });
</script>


